/* ============= GLOBAL CSS =============== */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  /* Colors */
  --primary-100: #eaf4f6;
  --primary-200: #bfb1ff;
  --primary-300: #9e8eff;
  --primary-400: #7e6bff;
  --primary-500: #5e48ff;
  --primary-600: #4c3bd4;
  --primary-700: #332c58;
  --primary-800: #0f4c85;
  --primary-900: #150958;

  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;

  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1fae5;
  --green-dark: #16a34a;

  /* Typography and Spacing */
  --small-text: 0.875rem;
  --extra-small-text: 0.7rem;

  /* Layout and Styling */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 0.1rem;
  --transition: 0.3s ease-in-out all;
  --max-width: 112rem;
  --fixed-width: 80rem;
  --view-width: 90vw;

  /* Shadows */
  --shadow-1: 0 0.1rem 3px rgba(0, 0, 0, 0.1), 0 0.1rem 2px rgba(0, 0, 0, 0.06);
  --shadow-2: 0 0.5rem 6px -0.1rem rgba(0, 0, 0, 0.1),
    0 2px 0.5rem -0.1rem rgba(0, 0, 0, 0.06);
  --shadow-3: 0 1rem 15px -3px rgba(0, 0, 0, 0.1),
    0 0.5rem 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 2rem 25px -5px rgba(0, 0, 0, 0.1),
    0 1rem 1rem -5px rgba(0, 0, 0, 0.04);
}

body {
  background: var(--backgroundColor);
  font-weight: 400;
  line-height: 1.6;
  color: var(--textColor);
  overflow-x: hidden !important;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  line-height: 1.4;
}

.text {
  margin-bottom: 1.25rem; /* Converted from 1.5rem */
  max-width: 40rem;
}

small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
  padding: 0;
}

input,
textarea {
  letter-spacing: 1.1px;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* =================[ Navbar ]============= */
.text-custom-spacing {
  letter-spacing: 1.1px;
  line-height: 1.6;
}

.ui-shadow-4 {
  box-shadow: var(--shadow-4);
}

.ui-index-9 {
  z-index: 9;
}

.ui-index-99 {
  z-index: 99;
}

.ui-index-999 {
  z-index: 999;
}

.ui-bg-200 {
  background-color: var(--primary-200) !important;
}
.ui-bg-900 {
  background-color: var(--primary-900) !important;
}
.ui-text-200 {
  color: var(--primary-200) !important;
}
.ui-text-900 {
  color: var(--primary-900) !important;
}

.ui-fs-large {
  font-size: 56px;
}
.ui-fs-small {
  font-size: 0.7rem;
}
header.header {
  z-index: 999;
}

header .logo {
  color: var(--primary-200);
  height: 5rem;
  z-index: 10;
  padding: 5px;
}
header .logo img {
  height: 100%;
}

header .nav-link {
  cursor: pointer;
}
header .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
header .menu li a,
header .menu li > span {
  max-width: 180px;
  /* for be in one line */
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
}
header .menu li a {
  overflow: hidden;
}
header .menu li a:hover {
  background-color: var(--primary-200) !important;
  color: var(--primary-900) !important;
}
header .menu li a:hover::before {
  left: 0;
}
header .menu li .active {
  background-color: var(--white); /* var(--primary-200)*/
  color: var(--primary-900) !important;
}
header .sm-menu li .active {
  color: var(--white) !important; /* var(--primary-200)*/
}
.sm-menu-container {
  position: fixed;
  top: 0;
  width: 300px;
  height: 100vh;
  z-index: 99;
  background: var(--primary-900);
  transition: 0.5s;
}
/* open close menu classes */
.open-menu {
  right: 0 !important;
}
.close-menu {
  right: -22rem !important;
}
.sm-menu {
  position: absolute;
  top: 60%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 15rem;
  height: 30rem;
  overflow: scroll;
}
.sm-menu::-webkit-scrollbar {
  display: none; /* For WebKit browsers like Chrome and Safari */
}
header .menu li > span {
  padding-bottom: 1.9rem !important;
}
.sm-menu li a,
.sm-menu li > span {
  font-weight: 600;
  max-width: 200px;
  display: inline-block !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sm-menu li a:hover {
  background-color: var(--primary-200) !important;
  color: var(--primary-900) !important;
}
.drop-down-icon {
  font-size: 2rem;
  position: absolute;
  right: -10px;
  top: 41%;
  transform: translate(0, -50%);
}
.ui-btn-open,
.ui-btn-close {
  display: none !important;
}
/* ----------------- */
.other-links {
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(30px);
  padding: 30px;
  background: var(--primary-900);
  margin-top: -5px;
  border-bottom: 5px solid var(--primary-700);
  border-top: 5px solid var(--primary-700);
  transition: 0.3s;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  /* try */
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.089);
}

.other-links:hover,
header .menu li > span:hover + .other-links {
  z-index: 1;
  opacity: 1;
  transform: translateY(0px);
  pointer-events: all;
}
.sublinks {
  display: flex;
  flex-basis: 50%;
}
.sublinks ul {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-right: 30px;
}
.sublinks ul li a {
  border-bottom: 1px solid var(--primary-600);
  color: var(--primary-100);
  padding: 15px;
  margin: 0 !important;
  font-size: 14px; /* 1.6rem converted to 16px */
  font-weight: 500;
  text-transform: capitalize;
  position: relative;
  z-index: 999;
  white-space: initial;
  /* try */
  border-bottom: 1px solid var(--primary-900);
  color: var(--primary-900) !important;
}
.sublinks ul li:last-child a {
  border-bottom: 1px solid transparent !important;
}
.sublinks ul li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  /* background-color: var(--primary-200); */
  background-color: #fff;
  z-index: -1;
  transition: 0.2s ease-in;
}
.sublinks ul li a:hover:before {
  left: 0;
}
.sublinks ul li svg {
  margin-right: 15px;
}

/* ===================[Landing Section]===================== */
.landing {
  position: relative;
  padding-top: 4rem;
  /* position: sticky; */
  top: 0;
}
.landing .info {
  position: absolute;
  top: 5rem;
  left: 0rem;
  width: 33rem;
  padding: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.089);
}
.landing .info h1 {
  margin-bottom: 20px; /* 2rem converted to 32px */
}
.landing .info p {
  font-size: 18px; /* 1.8rem converted to 18px */
  color: var(--primary-900);
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.6;
}
.landing .info button.action {
  padding: 16px; /* 1rem converted to 16px */
  width: 100%;
  font-size: 16px; /* 1.6rem converted to 16px */
  background: var(--primary-900);
  color: var(--primary-100);
  text-align: center;
  border: 1px solid var(--primary-100);
  transition: var(--transition);
}
.landing .info button:hover {
  background: var(--primary-700);
}

/* ====================[practice areas Section]================= */
.practice-areas h2 {
  font-weight: 400;
}
.practice-areas ul > li > a {
  text-transform: uppercase !important;
  font-weight: 400;
}
.practice-areas ul > li > a:hover {
  text-decoration: underline !important;
}
.practice-areas ul > li > svg {
  font-size: 12px; /* 1rem converted to 16px */
  color: var(--backgroundColor);
  letter-spacing: 0em;
}

/* ================[Our People Section]================== */
section.our-people {
  padding-bottom: 10rem !important;
  background: var(--primary-100);
}
.our-people .row {
  width: fit-content;
  margin: auto;
  gap: 6rem;
}

.our-people h2 {
  font-weight: 300;
  color: var(--primary-700);
}
.our-people .row .col {
  position: relative;
  z-index: 10;
}
.our-people .translateY-4 {
  position: relative;
  transform: translateY(3rem);
}
.our-people .name {
  font-size: 18px !important;
  font-weight: 300;
  color: var(--primary-700);
}
.our-people .title {
  font-size: 14px !important;

  font-weight: 300;
  color: var(--primary-700);
}

/* =================[Our Valued Clients Section]================= */
.our-valued-clients {
  background-color: var(--primary-700);
  padding-bottom: 10rem !important;
}
.our-valued-clients h2 {
  font-weight: 400;
  color: var(--white);
}
.our-valued-clients .slider-container {
  overflow: hidden;
}
.our-valued-clients .slider-item {
  position: relative;
  border-left: 3rem solid var(--primary-700);
  border-right: 3rem solid var(--primary-700);
  width: 2rem;
  height: 12rem;
  background-color: var(--green-dark);
  border-radius: 1rem;
}
.our-valued-clients .slider-item h3 {
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slick-slider {
  position: relative;
}
.slick-slider .slick-arrow.slick-next {
  position: absolute;
  right: -1rem;
  z-index: 9;
}
.slick-slider .slick-arrow.slick-prev {
  position: absolute;
  left: -1rem;
  z-index: 9;
}

/* ====================[Legal Opinions Section]======================= */
.legal-opinions {
  background-color: var(--primary-700);
  padding-bottom: 10rem !important;
}
.legal-opinions p {
  max-width: 90rem;
}

.feature-contact p {
  letter-spacing: 1.1px;
}

/* ===================[Testimonials Section]======================= */
.testimonials .img-cover {
  position: sticky !important;
  top: 0 !important;
  z-index: -1;
}

.testimonials p::before {
  content: '“'; /* Custom opening quote */
}

.testimonials p::after {
  content: '”'; /* Custom closing quote */
}

/* ====================[Our Firm Section]========================= */
.our-firm p {
  font-size: 1.1rem !important;
  text-shadow: 0px 1px 1px #150958a8;
  display: inline-block !important;
}

.our-firm ul {
  list-style: square;
}
.our-firm ul li {
  font-size: 1.1rem !important;
  text-shadow: 0px 1px 1px #150958a8;
  margin-bottom: 0.5rem;
}
/* ==================[Contact Us Section]========================= */
.contact-us {
  background-color: var(--primary-100);
}

/* =====================[Media Queries]========================== */
@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
}

@media (max-width: 992px) {
  .header-navbar .container {
    align-items: start !important;
    flex-direction: column !important;
    padding: 1rem;
  }

  header .menu li a,
  header .menu li > span {
    padding: 10px !important;
    font-size: 12px !important;
    max-width: 120px !important;
  }

  .other-links > .img-cover {
    display: none;
  }
  .other-links > .sublinks {
    flex-basis: 100%;
    margin: auto;
  }
  .landing .info {
    top: 9rem !important;
    left: 0 !important  ;
  }
  .landing .info > div {
    width: 100% !important;
  }
  .landing .info p {
    line-height: 1.4;
  }
  .practice-areas > div {
    flex-direction: column;
    padding: 0 2rem;
  }
  .ui-fs-large {
    font-size: 32px;
  }
  .our-valued-clients .slider-item {
    border-left: 0.5rem solid var(--primary-700);
    border-right: 0.5rem solid var(--primary-700);
    height: 8rem;
  }
  .translateY-4 {
    transform: translateY(0rem) !important;
  }
  .our-firm > .container {
    width: 100% !important;
    margin:auto !important
  };
}
/* 
Testimonials  */
@media (max-width: 768px) {
  .landing .info {
    width: 21rem;
  }
  .menu {
    display: none !important;
  }

  .logo {
    height: 3.5rem !important;
  }

  header .container {
    flex-direction: row !important;
  }

  header .menu li a,
  header .menu li > span {
    white-space: initial;
  }

  .ui-btn-open {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
  }
  .ui-btn-open,
  .ui-btn-close {
    display: block !important;
  }
  .other-links {
    padding: 0;
  }

  .sublinks ul li:last-child a {
    border-bottom: 1px solid #ddd !important;
  }
  .other-links > .sublinks {
    flex-direction: column;
  }
  .ui-fs-56 {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
}

/* ----------------------- */
@media (min-width: 768px) {
  .sm-menu-container {
    right: -22rem !important;
  }
}
